<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groupify</title>
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">
  <link rel="stylesheet" href="app/style.css">
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
</head>
<body>
<div ng-app="app" ng-cloak>

<h1 class="text-center">Groupify</h1>

<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6" ng-controller="classController" >
    <h3 class="text-center">Class</h3>
    <div id="class">
      <ul class="class-list">
        <li ng-repeat="student in class">
          <span ng-click="removeStudent();" class="glyphicon glyphicon-remove remove-me" aria-hidden="true"></span>
          {{student}}
        </li>
      </ul>
      <div class="input-group">
        <input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-model="newStudent" type="text">
        <div class="input-group-btn">
          <button class="btn btn-default" ng-click="addStudent();">Add Student</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center" ng-controller="groupController">
    <h3 class="text-center">Groups</h3>
    <form id="groupSize" class="form-inline">
      <label for="group_size">Group size</label>
      <input class="form-control" id="group_size" type="number" ng-model="groupSize" min="2" max="{{classSize}}" ng-change="reshuffle()">
      <button class="btn btn-default" ng-click="reshuffle()">Shuffle</button>
    </form> 
    <br />
    <div class="panel panel-default" ng-repeat="group in groups">
      <div class="panel-heading">{{group.name}}</div>
      <div class="panel-body">
        <ul>
          <li ng-repeat="student in group.group">{{student}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/studentService.js"></script>
<script src="app/nameService.js"></script>
<script src="app/class.js"></script>
<script src="app/group.js"></script>
</body>
</html>
